<div class="container">

    <div class="row">
        <h1>{{ctrl.country.countryName}}</h1>
    </div>
    <div class="row">
        Population of Country: {{ctrl.country.population}}
    </div>
    <div class="row">
                         Area: {{ctrl.country.areaInSqKm}}
    </div>
    <div class="row">
                      Capital: {{ctrl.country.capital}}
    </div>
    <div class="row">
        Population of Capital: {{ctrl.capitalPopulation}}
    </div>

    <div class="row">
        <img src="http://www.geonames.org/flags/x/{{ctrl.country.countryCode | lowercase}}.gif" />
    </div>

    <div class="row">
        <img id='myImage' src="http://www.geonames.org/img/country/250/{{ctrl.country.countryCode}}.png" />
    </div>

    <div class="row">
        <div class="col-md-4" ng-repeat="obj in ctrl.neighbours.geonames"  >
            <p >{{ctrl.neighbours.geonames}}</p>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-1">
            <button ng-click="ctrl.goHome()" >Home</button>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-1">
            <button ng-click="ctrl.goList()">List</button>
        </div>
    </div>
</div>